
www.ece:80 {
  tls off
  #tls sergei@adaltas.com
  proxy / http://website_web_1.private:80
}

ece:80 {
  tls off
  redir https://www.ece{uri}
}

gitlab.ece:80 {
  tls off
  #tls sergei@adaltas.com
  proxy / http://gitlab_gitlab_1.private:80 {
    fail_timeout 300s
    transparent
    #header_upstream X-Forwarded-Ssl on
  }
}
